#back {
  z-index: -1;
  opacity: 0.1; }

.backDiv {
  padding-top: 80px;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%; }

.login_mini {
  width: 30%; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .login_mini {
      width: 90%; } }
  @media screen and (max-width: 1000px) and (orientation: landscape) {
    .login_mini {
      width: 70%; } }

.logo {
  margin-bottom: 20px;
  margin-top: 5%;
  max-width: 15%;
  max-height: 15%; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .logo {
      max-width: 45%;
      max-height: 45%;
      margin-top: 15%; } }
  @media screen and (max-width: 1000px) and (orientation: landscape) {
    .logo {
      max-width: 20%;
      max-height: 20%;
      margin-top: 1%; } }

.form-short {
  max-width: 110px; }

.unused {
  color: #cccccc; }

.used {
  color: #333333; }

.sortBttMain {
  display: inline-table;
  cursor: pointer; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #e8e8e8; }

.arr {
  font-size: small; }

.WZarr {
  font-size: small; }

.WZConArr {
  font-size: small; }

.tab {
  background-color: #f9f9f9;
  margin-top: 0px; }

.main_div {
  position: relative; }

.popup {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px; }

.blur {
  z-index: 1;
  -webkit-filter: blur(5px);
  filter: blur(5px); }

.newWZform {
  z-index: 5;
  position: absolute;
  border: solid 1px gray;
  padding: 10px;
  box-shadow: 10px 10px 15px #666666;
  border-radius: 5px;
  background-color: white;
  margin-top: 4%;
  width: 90%;
  left: 5%; }
  @media (max-width: 768px) {
    .newWZform {
      left: 5%;
      width: 90%; } }

.rowSelected {
  color: cornflowerblue;
  font-weight: bold; }

.form-inline {
  margin-top: 5px;
  margin-bottom: 5px; }

.table-responsive {
  margin-top: 5px; }

.conPageControls {
  position: relative;
  height: 30px;
  width: 100%; }

.big-center {
  text-align: center;
  font-size: x-large; }

.buttonsContainer {
  position: relative;
  height: 30px;
  width: 100%; }

.half {
  position: relative;
  width: 50%; }
  @media screen and (max-width: 790px) and (orientation: portrait) {
    .half {
      width: 100%; } }

.WZInfoLab {
  position: relative;
  padding-left: 10px;
  width: 20%;
  font-weight: bold;
  text-align: left; }

.WZInfo {
  position: relative;
  width: 100%;
  font-weight: normal;
  text-align: left; }

.VATTab {
  position: relative;
  width: 30%; }

.VATTabCol {
  position: relative;
  border: solid 1px black;
  text-align: right;
  padding-right: 5px;
  border-collapse: collapse;
  width: 33%; }

.dateField {
  position: relative;
  width: 20%; }

.WZSumField {
  position: relative;
  right: 0px;
  height: 20px; }

.col1 {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.col2 {
  text-align: center;
  width: 30%;
  max-width: 30%;
  min-width: 30%; }

.col3 {
  text-align: center;
  width: 15%;
  max-width: 15%;
  min-width: 15%; }

.col4 {
  text-align: center;
  width: 6%;
  max-width: 6%;
  min-width: 6%; }

.col5 {
  text-align: center;
  width: 6%;
  max-width: 6%;
  min-width: 6%; }

.col6 {
  text-align: center;
  width: 3%;
  max-width: 3%;
  min-width: 3%; }

.col7 {
  text-align: center;
  width: 20%;
  max-width: 20%;
  min-width: 20%; }

.col8 {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.col9 {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.col1b {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.col2b {
  text-align: left;
  width: 30%;
  max-width: 30%;
  min-width: 30%; }

.col3b {
  text-align: left;
  width: 15%;
  max-width: 15%;
  min-width: 15%; }

.col4b {
  text-align: right;
  width: 6%;
  max-width: 6%;
  min-width: 6%; }

.col5b {
  text-align: right;
  width: 6%;
  max-width: 6%;
  min-width: 6%; }

.col6b {
  text-align: center;
  width: 3%;
  max-width: 3%;
  min-width: 3%; }

.col7b {
  text-align: center;
  width: 20%;
  max-width: 20%;
  min-width: 20%; }

.col8b {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.col9b {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZcol1 {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZcol2 {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZcol3 {
  text-align: center;
  width: 3%;
  max-width: 3%;
  min-width: 3%; }

.WZcol4 {
  text-align: center;
  width: 8%;
  max-width: 8%;
  min-width: 8%; }

.WZcol5 {
  text-align: center;
  width: 30%;
  max-width: 30%;
  min-width: 30%; }

.WZcol6 {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZcol7 {
  text-align: center;
  width: 15%;
  max-width: 15%;
  min-width: 15%; }

.WZcol8 {
  text-align: center;
  width: 15%;
  max-width: 15%;
  min-width: 15%; }

.WZcol9 {
  text-align: center;
  width: 14%;
  max-width: 14%;
  min-width: 14%; }

.WZcol1b {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZcol2b {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZcol3b {
  text-align: center;
  width: 3%;
  max-width: 3%;
  min-width: 3%; }

.WZcol4b {
  text-align: center;
  width: 8%;
  max-width: 8%;
  min-width: 8%; }

.WZcol5b {
  text-align: left;
  width: 30%;
  max-width: 30%;
  min-width: 30%; }

.WZcol6b {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZcol7b {
  text-align: center;
  width: 15%;
  max-width: 15%;
  min-width: 15%; }

.WZcol8b {
  text-align: center;
  width: 15%;
  max-width: 15%;
  min-width: 15%; }

.WZcol9b {
  text-align: center;
  width: 14%;
  max-width: 14%;
  min-width: 14%; }

.WZConCol1 {
  text-align: center;
  width: 8%;
  max-width: 8%;
  min-width: 8%; }

.WZConCol2 {
  text-align: center;
  width: 20%;
  max-width: 20%;
  min-width: 20%; }

.WZConCol3 {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZConCol4 {
  text-align: center;
  width: 7%;
  max-width: 7%;
  min-width: 7%; }

.WZConCol5 {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZConCol6 {
  text-align: center;
  width: 15%;
  max-width: 15%;
  min-width: 15%; }

.WZConCol7 {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZConCol8 {
  text-align: center;
  width: 15%;
  max-width: 15%;
  min-width: 15%; }

.WZConCol1c {
  text-align: center;
  width: 8%;
  max-width: 8%;
  min-width: 8%; }

.WZConCol2c {
  text-align: left;
  width: 20%;
  max-width: 20%;
  min-width: 20%; }

.WZConCol3c {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZConCol4c {
  text-align: center;
  width: 7%;
  max-width: 7%;
  min-width: 7%; }

.WZConCol5c {
  text-align: left;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZConCol6c {
  text-align: left;
  width: 15%;
  max-width: 15%;
  min-width: 15%; }

.WZConCol7c {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZConCol8c {
  text-align: center;
  width: 15%;
  max-width: 15%;
  min-width: 15%; }

.WZProdCol1 {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZProdCol2 {
  text-align: center;
  width: 20%;
  max-width: 20%;
  min-width: 20%; }

.WZProdCol3 {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZProdCol4 {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZProdCol5 {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZProdCol6 {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZProdCol7 {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZProdCol8 {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZProdCol9 {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZProdCol10 {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZProdCol11 {
  text-align: center;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZProdCol1c {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZProdCol2c {
  text-align: left;
  width: 20%;
  max-width: 20%;
  min-width: 20%; }

.WZProdCol3c {
  text-align: right;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZProdCol4c {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZProdCol5c {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZProdCol6c {
  text-align: center;
  width: 5%;
  max-width: 5%;
  min-width: 5%; }

.WZProdCol7c {
  text-align: right;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZProdCol8c {
  text-align: right;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZProdCol9c {
  text-align: right;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZProdCol10c {
  text-align: right;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }

.WZProdCol11c {
  text-align: right;
  width: 10%;
  max-width: 10%;
  min-width: 10%; }
