#back{
    z-index: -1;
    opacity: 0.1;
}
.backDiv{
    padding-top: 80px;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.login_mini{
    width: 30%;
    @media screen and (max-width: 480px) and (orientation: portrait) {
        width: 90%;
    }
    @media screen and (max-width: 1000px) and (orientation: landscape) {
        width: 70%;
    }
}
.logo{
    margin-bottom: 20px;
    margin-top: 5%;
    max-width: 15%;
    max-height: 15%;
    @media screen and (max-width: 480px) and (orientation: portrait) {
        max-width: 45%;
        max-height: 45%;
        margin-top: 15%;
    }
    @media screen and (max-width: 1000px) and (orientation: landscape) {
        max-width: 20%;
        max-height: 20%;
        margin-top: 1%;
    }
}
.form-short{
    max-width: 110px;
}
.unused{
    color: #cccccc;
}
.used{
    color: #333333;
}
.sortBttMain{
    display: inline-table;
    cursor: pointer;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #e8e8e8;
 }
 .arr{
     font-size: small;
 }
 .WZarr{
     font-size: small;
 }
 .FVarr{
     font-size: small;
 }
 .WZConArr{
     font-size: small;
 }
 .WZProdArr{
     font-size: small;
 }
 .tab{
      background-color: #f9f9f9;
      margin-top: 0px;
 }
 .main_div{
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 60px);
    @media (max-width: 768px){
        max-width: 100%;
        width: 100%;
     }
 }
 .popup{
     z-index: 3;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0px;
 }
 .popupSmall{
     z-index: 3;
     position: absolute;
     top: 0px;
 }
#priceHistoryWindow{
    position: absolute;
    top: 35px;
    width: 100%;
    height: 85%;
    left: 0px;
}
.priceHistLangNavbar{
    font-size: large;
}
#priceHistoryPopupNavbar{
     position: relative;
     background-color: #f9f9f9;
     border-top: 2px dashed gray;
     border-left: 2px dashed gray;
     border-right: 2px dashed gray;
     border-bottom: 1px solid black;
     top: 5%;
     left: 5%;
     width: 90%;
     min-height: 28px;
}
#priceHistoryPopup{
     position: relative;
     background-color: #f9f9f9;
     border-left: 2px dashed gray;
     border-right: 2px dashed gray;
     border-bottom: 2px dashed gray;
     top: 5%;
     left: 5%;
     width: 90%;
     max-height: 80%;
     overflow-y: scroll;
 }
 .blur{
    z-index: 1;
    filter:blur(5px);
 }
 .newWZform{
     z-index: 5;
     position: absolute;
     border: solid 1px gray;
     padding: 10px;
     box-shadow: 10px 10px 15px #666666;
     border-radius: 5px;
     background-color: white;
     margin-top: 4%;
     margin-bottom: 20px;
     width: 90%;
     left: 5%;
     @media (max-width: 768px){
         left: 5%;
         width: 90%;
     }
 }
 .newFVform{
     z-index: 5;
     position: absolute;
     border: solid 1px gray;
     padding: 10px;
     box-shadow: 10px 10px 15px #666666;
     border-radius: 5px;
     background-color: white;
     margin-top: 4%;
     margin-bottom: 20px;
     width: 90%;
     left: 5%;
     @media (max-width: 768px){
         left: 5%;
         width: 90%;
     }
 }
.addProd{
     z-index: 5;
     position: absolute;
     border: solid 1px gray;
     padding: 10px;
     box-shadow: 10px 10px 15px #666666;
     border-radius: 5px;
     background-color: white;
     margin-top: 10%;
     width: 50%;
     left: 25%;
     @media (max-width: 768px){
         left: 5%;
         margin-top: 20%;
         width: 90%;
         height: calc(100%-50px);
     }
 }
 #AdditionalWindows{
     position: fixed;
     width: 100%;
     height: calc(100% - 60px);
     overflow-y: scroll;
 }
 .additionalWindows{
     z-index: 5;
     position: absolute;
     border: solid 1px gray;
     padding: 10px;
     box-shadow: 10px 10px 15px #666666;
     border-radius: 5px;
     background-color: white;
     margin-top: 10px;
     margin-bottom: 10px;
     height: auto;
     width: 50%;
     left: 25%;
     @media (max-width: 768px){
         left: 5%;
         margin-top: 20%;
         width: 90%;
     }
 }

 .additionalWindowsEdit{
     z-index: 5;
     position: absolute;
     border: solid 1px gray;
     padding: 10px;
     box-shadow: 10px 10px 15px #666666;
     border-radius: 5px;
     background-color: white;
     margin-top: 10px;
     margin-bottom: 10px;
     height: auto;
     width: 50%;
     left: 25%;
     @media (max-width: 768px){
         left: 5%;
         margin-top: 20%;
         width: 90%;
     }
 }

  .additionalWindowsChangePass{
     z-index: 5;
     position: absolute;
     border: solid 1px gray;
     padding: 10px;
     box-shadow: 10px 10px 15px #666666;
     border-radius: 5px;
     background-color: white;
     margin-top: 10px;
     margin-bottom: 10px;
     min-height: 330px;
     width: 50%;
     left: 25%;
     height: auto;
     @media (max-width: 768px){
         left: 5%;
         margin-top: 20%;
         width: 90%;
     }
 }

 .addPhoto{
     z-index: 5;
     position: fixed;
     border: solid 1px gray;
     padding: 10px;
     box-shadow: 10px 10px 15px #666666;
     border-radius: 5px;
     background-color: white;
     margin-top: 10%;
     width: 50%;
     height: auto;
     left: 25%;
     @media (max-width: 768px){
         left: 5%;
         margin-top: 20%;
         width: 90%;
     }
 }
 .addingForm{
     margin-top: 50px;
 }
 .rowSelected{
    color: cornflowerblue;
    font-weight: bold;
 }
 .form-inline{
     margin-top: 5px;
     margin-bottom: 5px;
 }
 .table-responsive{
     margin-top: 5px;
 }
 .conPageControls{
    position: relative;
    height: 30px;
    width: 100%; 
 }
 .big-center{
    text-align: center;
    font-size: x-large; 
 }
 .buttonsContainer{
    position: relative;
    height: 30px;
    width: 100%; 
 }
 .half{
    position: relative;
    width: 50%;
    @media screen and (max-width: 790px) and (orientation: portrait){
        width: 100%;
    }
}
 .WZInfoLab{
    position: relative;
    padding-left: 10px;
    width: 20%;
    font-weight: bold;
    text-align: left;    
 }
 .WZInfo{
    position: relative;
    width: 100%;
    font-weight: normal;
    text-align: left;
 }
 .VATTab{
    position: relative;
    width: 30%;
 }
 .VATTabCol{
    position: relative;
    border: solid 1px black;
    text-align: right;
    padding-right: 5px;
    border-collapse: collapse;
    width: 33%;
 }
 .dateField{
    position: relative;
    right: 0px;
 }
 .WZSumField{
     position: relative;
     right: 0px;
     height: 20px;
 }
 .conLab{
    position: relative;
}
.searchBox{
    min-width: 300px;
}
.detailLabel{
    min-width: 20%;
    text-align: right;
    @media (max-width: 768px){
        min-width: 30%;
    }
}
.detailLabelVal{
  text-align: left;
  margin-left: 5px;
}
#productPhoto{
  width: 100%;
  text-align: center;
}

.photo {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 60%;
  max-width: 95%;
}

.productPhotoButtons{
    position: fixed;
    margin-top: 10px;
    right: 26%;
    margin-top: 10%;
    top: 5px;
    width: 50%;
    @media (max-width: 768px){
        margin-top: 20%;
        right: 6%;
    }
}
.word{
  display: inline;
}
.short{
  width:100%;
  text-align: center;
}
.on_top{
  z-index: 10;
}
.loginInputs{
  margin-bottom: 15px;
}
.WZProdNumberBox{
  display: inline;
}
.calculate{
  cursor: pointer;
  color: blue;
}
.addingPosValues{
  margin-left: 20px;
}
.wrongValue{
  border: solid 1px red;
}
#myAlertContainer{
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100%;
}
#myAlertMessage{
    margin-top: 40px;
    opacity: 1;
    width: 100%;
    font-size: x-large;
    text-align: center;
}
#myAlertConfirm{
    width: 100px;
    text-align: center;
    margin-top: 15px;
}
#myAlertBackground{
    position: absolute;
    width: 100%;
    background-color: gray;
    opacity: 0.7;
    top: 50%;
    height: 200px;
    margin-top: -100px;
}
#myAlert{
    position: absolute;
    z-index: 15;
    width: 100%;
    color: red;
    top: 50%;
    height: 200px;
    margin-top: -100px;
}

#myConfirmContainer{
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100%;
}
#myConfirmMessage{
    margin-top: 40px;
    opacity: 1;
    width: 100%;
    font-size: x-large;
    text-align: center;
}
#myConfirmConfirm{
    width: 100px;
    position: fixed;
    left: 50%;
    margin-left: -130px;
    text-align: center;
    margin-top: 15px;
}
#myConfirmAbort{
    width: 100px;
    position: fixed;
    left: 50%;
    margin-left: 30px;
    text-align: center;
    margin-top: 15px;
}
.searchByIdToEdit{
    width: 70%;
    padding: 5px;
    margin-bottom: 5px; 
    background-color: #cccccc;
    border-radius: 5px;
}
.smallInput{
    display: inline-block;
    margin-left: 5px;
    width: 23%;
}
#myConfirmBackground{
    position: absolute;
    width: 100%;
    background-color: gray;
    opacity: 0.7;
    top: 50%;
    height: 200px;
    margin-top: -100px;
}
#myConfirm{
    position: absolute;
    z-index: 15;
    width: 100%;
    color: red;
    top: 50%;
    height: 200px;
    margin-top: -100px;
}
#myChart{
    position: absolute;
    left: 50%;
    margin-top: 50px;
    margin-left: -30%;
    min-height: 70%;
    max-width: 60%;
    @media (max-width: 768px){
        left: 0%;
        top: 0%;
        margin-left: 0px;
        margin-top: 0px;
        max-width: 100%;
    }
}